In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import warnings

In [82]:

warnings.filterwarnings('ignore')

In [83]:
df_train = pd.read_csv('~/.kaggle/competitions/house-prices-advanced-regression-techniques/train.csv')

In [84]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
df_test = pd.read_csv('~/.kaggle/competitions/house-prices-advanced-regression-techniques/test.csv')

In [9]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [10]:
selected_features = ['Foundation', 'Heating', 'Electrical', 'SaleType', 'SaleCondition', 'GarageArea','YearRemodAdd','YearBuilt','1stFlrSF', '2ndFlrSF', 'TotalBsmtSF', 'BsmtUnfSF', 'CentralAir']

In [11]:
X_train = df_train[selected_features]
X_test = df_test[selected_features]
y_train = df_train['SalePrice']

In [12]:
X_train.shape

(1460, 13)

In [13]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 13 columns):
Foundation       1460 non-null object
Heating          1460 non-null object
Electrical       1459 non-null object
SaleType         1460 non-null object
SaleCondition    1460 non-null object
GarageArea       1460 non-null int64
YearRemodAdd     1460 non-null int64
YearBuilt        1460 non-null int64
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
TotalBsmtSF      1460 non-null int64
BsmtUnfSF        1460 non-null int64
CentralAir       1460 non-null object
dtypes: int64(7), object(6)
memory usage: 148.4+ KB

In [14]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 13 columns):
Foundation       1459 non-null object
Heating          1459 non-null object
Electrical       1459 non-null object
SaleType         1458 non-null object
SaleCondition    1459 non-null object
GarageArea       1458 non-null float64
YearRemodAdd     1459 non-null int64
YearBuilt        1459 non-null int64
1stFlrSF         1459 non-null int64
2ndFlrSF         1459 non-null int64
TotalBsmtSF      1458 non-null float64
BsmtUnfSF        1458 non-null float64
CentralAir       1459 non-null object
dtypes: float64(3), int64(4), object(6)
memory usage: 148.3+ KB

In [15]:
# 补充特征缺失值
X_train['Electrical'].fillna('SBrkr', inplace=True)
X_train['SaleType'].fillna('WD', inplace=True)
X_train['GarageArea'].fillna(X_train['GarageArea'].mean(), inplace=True)
X_train['TotalBsmtSF'].fillna(X_train['TotalBsmtSF'].mean(), inplace=True)
X_train['BsmtUnfSF'].fillna(X_train['BsmtUnfSF'].mean(), inplace=True)
X_test['Electrical'].fillna('SBrkr', inplace=True)
X_test['SaleType'].fillna('WD', inplace=True)
X_test['GarageArea'].fillna(X_test['GarageArea'].mean(), inplace=True)
X_test['TotalBsmtSF'].fillna(X_test['TotalBsmtSF'].mean(), inplace=True)
X_test['BsmtUnfSF'].fillna(X_test['BsmtUnfSF'].mean(), inplace=True)

In [16]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 13 columns):
Foundation       1460 non-null object
Heating          1460 non-null object
Electrical       1460 non-null object
SaleType         1460 non-null object
SaleCondition    1460 non-null object
GarageArea       1460 non-null int64
YearRemodAdd     1460 non-null int64
YearBuilt        1460 non-null int64
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
TotalBsmtSF      1460 non-null int64
BsmtUnfSF        1460 non-null int64
CentralAir       1460 non-null object
dtypes: int64(7), object(6)
memory usage: 148.4+ KB

In [17]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 13 columns):
Foundation       1459 non-null object
Heating          1459 non-null object
Electrical       1459 non-null object
SaleType         1459 non-null object
SaleCondition    1459 non-null object
GarageArea       1459 non-null float64
YearRemodAdd     1459 non-null int64
YearBuilt        1459 non-null int64
1stFlrSF         1459 non-null int64
2ndFlrSF         1459 non-null int64
TotalBsmtSF      1459 non-null float64
BsmtUnfSF        1459 non-null float64
CentralAir       1459 non-null object
dtypes: float64(3), int64(4), object(6)
memory usage: 148.3+ KB

In [18]:
from sklearn.feature_extraction import DictVectorizer
dict_vec = DictVectorizer(sparse=False)

In [19]:
dict_vec

DictVectorizer(dtype=<class 'numpy.float64'>, separator='=', sort=True,
        sparse=False)

In [20]:
X_train = dict_vec.fit_transform(X_train.to_dict(orient='record'))
X_test = dict_vec.transform(X_test.to_dict(orient='record'))

In [22]:
from sklearn.ensemble import GradientBoostingRegressor

In [23]:
rfr = GradientBoostingRegressor()

In [24]:
rfr.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [69]:
y_pred = rfr.predict(X_test)

In [76]:
y_pred.shape

(1459,)

In [78]:
X_test.shape

(1459, 41)

In [85]:
rfr_submission = pd.DataFrame({'Id':df_test['Id'], 'SalePrice':y_pred})

In [86]:
rfr_submission.shape

(1459, 2)

In [87]:
rfr_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
Id           1459 non-null int64
SalePrice    1459 non-null float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB

In [88]:
rfr_submission.to_csv('rfr_submission.csv', index=False)

In [89]:
rfr_submission

        Id      SalePrice
0     1461  131452.164186
1     1462  151390.411440
2     1463  187769.241275
3     1464  186081.305470
4     1465  169307.574635
5     1466  189272.787983
6     1467  181492.900826
7     1468  185841.531539
8     1469  183367.732650
9     1470  129235.490343
10    1471  197950.477289
11    1472   98218.104116
12    1473   97238.440978
13    1474  148812.661072
14    1475  113254.875495
15    1476  361443.184520
16    1477  253811.864912
17    1478  283178.022604
18    1479  267584.824482
19    1480  398220.936939
20    1481  341201.847135
21    1482  187986.086434
22    1483  186696.660961
23    1484  166667.736252
24    1485  165810.472790
25    1486  201797.361439
26    1487  326668.416248
27    1488  231289.464157
28    1489  208924.939832
29    1490  233240.376943
...    ...            ...
1429  2890   78477.419282
1430  2891  134602.621256
1431  2892   56136.841344
1432  2893   79943.226195
1433  2894   58707.133020
1434  2895  296011.825225
1435  2896  245258.093797
1436  2897  180821.559786
1437  2898  176812.161297
1438  2899  208110.483629
1439  2900  152535.768219
1440  2901  167406.562963
1441  2902  190008.271724
1442  2903  345122.621327
1443  2904  325213.796766
1444  2905  131219.257835
1445  2906  228279.218145
1446  2907  115062.058030
1447  2908  123224.738321
1448  2909  161116.533886
1449  2910   84151.267685
1450  2911   98218.104116
1451  2912  138690.523691
1452  2913   91003.676262
1453  2914   84025.363763
1454  2915   84025.363763
1455  2916   90800.558817
1456  2917  156953.582313
1457  2918  136594.827516
1458  2919  222346.580641

[1459 rows x 2 columns]